Source: puppet-module-puppetlabs-ntp
Section: admin
Priority: optional
Maintainer: Thomas Bechtold <thomasbechtold@jpberlin.de>
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.4
Vcs-Git: git://git.debian.org/git/pkg-puppet/puppet-module-puppetlabs-ntp.git
Vcs-Browser: http://git.debian.org/?p=pkg-puppet/puppet-module-puppetlabs-ntp.git;a=summary
Homepage: https://forge.puppetlabs.com/puppetlabs/ntp

Package: puppet-module-puppetlabs-ntp
Section: admin
Architecture: all
Depends: ${misc:Depends},
         puppet-common,
         puppet-module-puppetlabs-stdlib (>= 0.1.6)
Description: Puppet module for ntp
 Puppet lets you centrally manage every important aspect of your system
 using a cross-platform specification language that manages all the
 separate elements normally aggregated in different files, like users,
 cron jobs, and hosts, along with obviously discrete elements like
 packages, services, and files.
 .
 The ntp module installs, configures, and manages the ntp service.
